* {
    margin:0;
    padding:0
}

.container {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.navbar {
    text-align: center;
    color: #272727;
    font-size: 12pt;

    width:21%;
    height:100%;
    float:left;
    padding: 10px 20px;

    -webkit-animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;
    -ms-animation: fadein 0.8s;
    -o-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

.navbar_header {
    text-align: left;
}

.navbar_header img {
    width: 85%;
    margin: 10px 0px;
}

body {
    background:#cfcfcf;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    background: white;
    text-align: left;
    font-size: 12pt;
    padding: 30px 35px;

    position:absolute;
    right:0;
    min-height:100%;
    width: calc(79% - 110px);

    -webkit-animation: fadein 1.3s;
    -moz-animation: fadein 1.3s;
    -ms-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 1.3s;

    box-shadow: -5px 0px 5px #888888;
}

.footer {
    text-align: center;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #898989;
    font-size: 10pt;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.footer:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.footer a {
    margin: 0px 30px;
}

.shadowed_image {
    box-shadow: 5px 5px 5px #474747;
    margin: 30px;
}

#jswarning {
    text-align: right;
    font-size: 11px;
    margin-top: -10px;
}

nav {
  text-align: left;
}

a {
    color: #444444;
    -webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -o-transition:color 0.3s;
    transition:color 0.3s
} a:hover {
    color: #ff6100;
    -webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -o-transition:color 0.3s;
    transition:color 0.3s
}

.content a {
  color: #3399FF;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
} .content a:hover {
  color: #ff6100;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
}

pre {
    background: #3D3D3D;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 15px;
    color: #474747;
    margin: 10px 0px;
}

h1 {
  margin-bottom: 20px;
}

p, pre, h2, h3, h4, h5, h6, ol {
  margin-bottom: 20px;
}

ol {
  margin-left: 40px;
}

ul {
  margin-left: 30px;
}

.output {
  border: solid;
  border-width: thin;
  border-color: #606060;
  background: #FFFFAA;
  padding: 15px;
  color: black;
}

.lessonnav {
  overflow: hidden;
  background: lightgray;
  padding: 20px;
}

.important {
  color: red;
  font-weight: 700;
}

.tip {
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: gray;
  background: lightgray;
  padding: 15px;
  float: right;
  margin: 0;
  max-width: 360px;
}

.tip b {
  margin-bottom: 10px;
  display: block;
}
/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Firefox */
/*@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Safari and Chrome */
/*@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Internet Explorer */
/*@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/
